{% extends "base.html" %}

{%block content%}
<h3>Reset Password</h3>

<form class="form-reset-password" role="form" method="post" action="/change_password/">
  {{ form.csrf_token }}
      <br>
    {{ form.password(placeholder="old password") }}
    <span class="error">
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
    </p>
    {%endif%}
    <p>
    {{ form.new_password(placeholder="password") }}
    <span class="error">
      {% if form.new_password.errors %}
        {% for error in form.new_password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
    </p>
    <p>
    {{ form.confirm(placeholder="confirm password") }}
    <span class="error">
      {% if form.confirm.errors %}
        {% for error in form.confirm.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
    </p>
  <button class="btn btn-sm btn-success" type="submit">Submit</button>
  <br>
  <br>
</form>

{%endblock%}