{% extends "base.html" %}

{%block content%}
<div class="container">
    <div class="row">
        <div class="name">
            <h1>{{group.name}}</h1>
            <br>
        </div>
        <div>
        	{%if member%}
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Create Post</button>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="exampleModalLabel">New Post</h4>
                    </div>
                    <div class="modal-body">
                      <form method="POST" action="/groups/{{group.id}}/create_group_post/">
                        <div class="form-group">
                            <label for="message-text" class="control-label">Title:</label> 
                            <input type="text" name="title" class="form-control" id="recipient-name">   
                            <label for="message-text" class="control-label">Post:</label>
                          <textarea name= "content" class="form-control" id="message-text"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <input type="submit" class="btn btn-primary" value="Post"/>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            <!-- Split button -->
            <div class="btn-group">
              <button type="button" class="btn btn-success btn-sm">Sort By</button>
              <button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="/groups/{{group.id}}/new/">newest</a></li>
                <li><a href="/groups/{{group.id}}/">most liked</a></li>
                <li><a href="/groups/{{group.id}}/least/">least liked</a></li>
                <li><a href="/groups/{{group.id}}/oldest/">oldest</a></li>
              </ul>
            </div>
            <a href="/groups/{{group.id}}/members/" class="btn btn-warning btn-sm">Members</a>
            <a href="/groups/{{group.id}}/leave/" class="btn btn-danger btn-sm">Leave</a>
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo">Group Description</button>
            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title2" id="exampleModalLabel2">About this group</h4>
                  </div>
                  <div class="modal-body"2>
                    <p>{{group.description}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </form>
                  </div>
                </div>
              </div>

            </div>
              {%if admin%}
              <a href="/groups/{{group.id}}/admin/" class="btn btn-warning btn-sm">Admin Pannel</a>
            {%endif%}
            </div>

            {%else%}
            <p>{{group.description}}</p>
            <a href="/groups/{{group.id}}/join/" class="btn btn-primary btn-sm">Join Group</a>

            {%endif%}
          </div>
    </div>
       <hr>
       <div>
       	{%for post,x in posts%}
       		<a href="/groups/{{group.id}}/post/{{post.id}}/like/">
       		{%if user in post.likes%}
	        	{%if member%}
       			<i class="glyphicon glyphicon-star"></i></a> 
       			{%endif%}
       		 {%else%}
	        	{%if member%}
	      			<i class="glyphicon glyphicon-star-empty"></i></a> 
	      		{%endif%}
      		{%endif%}
       		 <a href="/post/{{post.id}}">{{post.title}}</a> 
           {%if admin%}
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="/group/{{group.id}}/post/{{post.id}}/delete/" class="btn btn-danger btn-sm">Remove Post</a>
           {%endif%}
       		<hr>
       	{%endfor%}
       </div>
</div>

{%endblock%}