{% extends "base.html" %}

{%block content%}
<div class="container">
    <div class="row">
        <div class="name">
            <h1>{{user.user_name}}</h1>
        </div>
        <div>
        	{%if user_profile%}
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Create Post</button>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="exampleModalLabel">New Post</h4>
                    </div>
                    <div class="modal-body">
                      <form method="POST" action="/create_post/">
                        <div class="form-group">
                            <label for="message-text" class="control-label">Title:</label> 
                            <input type="text" name="title" class="form-control" id="recipient-name">   
                            <label for="message-text" class="control-label">Post:</label>
                          <textarea name= "content" class="form-control" id="message-text"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <input type="submit" class="btn btn-primary" value="Post"/>
                    </form>
                    </div>
                  </div>
                </div>    


    </div>
                      <a href="/reset_password/" class="btn btn-success btn-sm">Reset Password</a>

</div>
                {%endif%}

{%if not user_profile %}
	{%if not friends%}
	<form method="POST"  action="/user/{{user.id}}/add_friend/" method="POST">
		<input type="submit" class="btn btn-success btn-sm" value="Send Friend Request">
	</form>
	{%endif%}
<br>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo">Send Messagee</button>
	<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="exampleModalLabel2">New message</h4>
				</div>
				<div class="modal-body">
					<form method="POST" action="/send_message/{{user.id}}/">
						<div class="form-group">
							<label for="message-text" class="control-label">Message:</label>
							<textarea name= "message" class="form-control" id="message-text"></textarea>
						</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<input type="submit" class="btn btn-primary" value="Send Message"/>
				</form>
				</div>
			</div>
		</div>
	</div>
	</div>

{%endif%}
<hr>
<div>
	{%for post,x in posts%}
		<a href="/post/{{post.id}}/">{{post.title}}</a> 
		{%if user_profile%}
	     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/post/{{post.id}}/delete/" class="btn btn-danger btn-sm">Remove Post<i class="glyphicon glyphicon-remove"></i></a> 
		{%endif%}
      	<hr>
	{%endfor%}
</div>
</div>
</div>
</div>


{%endblock%}